.login-content {
    /* Center vertically and horizontally */
    position: absolute;
    top: 30%;
    left: 50%;
    /*margin: -25px 0 0 -25px; /* Apply negative top and left margins to truly center the element */
    background-color: #fff;
    padding: 15px 40px 40px 20px;
    border-radius: 10px;
    overflow: hidden;
  }

  label {
      display: block;
      font-size: 20px;
      font-weight: 500;
  }

  .form-control {
    background-color: #fff;
  }
  input {
    height: 30px;
    width: 300px;
    border-radius: 5px;
    background-color: #fff !important;
    padding: 5px;
  }


  .sign-up {
    color: black;
    text-align: center;
    padding: 30px 0 10px 0;
    font-size: 20px;
  }

  .is-invalid {
    border-color: red;
  }